footer {
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    max-width: 1360px;
    align-items: center;

    .social__block {
        margin-top: 25px;
        display: flex;
        width: 100%;
        align-items: center;
        max-width: 500px;



    }
    .social__item {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
    .info__block {
        margin-top: 25px;
        align-items: center;
        width: 100%;
        display: flex;
        max-width: 500px;
        justify-content: flex-end;

        .info__item {
            align-items: center;
            margin-right: 25px;
            &:nth-child(2) {
                margin-bottom: 5px;
            }
        }

    }
}
