* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: anisette-std, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.mask {
    width: 100%;
    height: 100vh;
    background-color: rgb(204, 204, 204);
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.container {
    position: relative;
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1260px;
    padding: 0 30px;
    height: 100%;
}

.header {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 65px;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    justify-content: space-between;

    &__left-side {
        display: flex;
        align-items: center;
        position: relative;
        &::after {
            content: "";
            width: 2px;
            height: 45px;
            position: absolute;
            left: 170px;
            top: 10px;
            background-color: rgb(56, 56, 56);
            z-index: 10;
        }
        .logo {
            margin-left: 50px;

        }
        .title {
            margin-left: 40px;
            font-size: 14px;
            color: rgb(103, 103, 103);
            font-weight: 700;
        }
    }
    &__right-side {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 50px;

        .title {
            position: relative;
            margin-right: 45px;
            font-size: 18px;
            color: rgb(103, 103, 103);
            font-weight: 700;
            width: 100%;
            max-width: 70px;

            &::after {
                content: "";
                width: 2px;
                height: 45px;
                position: absolute;
                left: 70px;
                top: 0;
                background-color: rgb(56, 56, 56);
                z-index: 10;
            }
        }

    }
}

